In [1]:
from class_TM import TM

In [2]:
cb1 = TM()
pages = [['Cebolinha'],
         ['Mônica', 'Magali'],
         ['Xaveco', 'Cascão', 'Titi', 'Humberto'],
         ['Cascuda', 'Cascão'],
         [],
         ['Cascuda', 'Cascão']]
for page in pages:
    cb1.insert(page)

In [3]:
cb1.data

       Character 1 Character 2 Character 3 Character 4
Page
Page 1   Cebolinha
Page 2      Mônica      Magali
Page 3      Xaveco      Cascão        Titi    Humberto
Page 4     Cascuda      Cascão
Page 5
Page 6     Cascuda      Cascão

In [4]:
cb1.pack('comic book 1.csv')
cb2 = TM()
cb2.unpack('comic book 1.csv')
cb2.data

       Character 1 Character 2 Character 3 Character 4
Page
Page 1   Cebolinha
Page 2      Mônica      Magali
Page 3      Xaveco      Cascão        Titi    Humberto
Page 4     Cascuda      Cascão
Page 5
Page 6     Cascuda      Cascão